﻿@page "/teams"
@layout MainLayout

<h3>Teams</h3>

@if (teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Foundation</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in teams)
            {
                <tr>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Name.ToString()</td>
                    <td>@item.Foundation.ToString()</td>                           
                    <td><button @onclick="@(() => Remove(item))">Remove</button></td>                   
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<MauiAppBlazorAzureCosmos.Models.TeamFootball> teams;
    private List<MauiAppBlazorAzureCosmos.Models.Players> players;
    private MauiAppBlazorAzureCosmos.Models.Players player;

    protected override async Task OnInitializedAsync()
    {
        Data.TeamsService service = new Data.TeamsService();
        teams = await service.GetTeamsAsync();
    }

    protected async Task Remove(MauiAppBlazorAzureCosmos.Models.TeamFootball item)
    {
        Data.TeamsService service = new Data.TeamsService();
        await service.DeleteTeamAsync(item);
    }
    
}
