﻿@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">New Team</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
